# directories not related to any docker build
**/.github
**/.vscode
**/.devcontainer

# build dependencies and results
**/node_modules
**/result

# directories
**/.assets

# File types
**/*.md
**/*.yml
**/.env
