# NPM 
**/node_modules

# Compiling TS
**/dist
**/.tsbuildinfo

# Curriculum Website Building
**/*.output.css
**/*.html

# Curriculum PDF building
**/*.pdf
**/*.typ

# Misc
**/appdata
**/result
**/.env
