/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap'); */
/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Colors ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

:root { 
  --color-accent: #A155B5 !important;
  --color-text-primary: #808080 !important;
  --color-text-header: #fcf7fe !important;
  --color-layer-0: #14181B !important;
  --color-layer-1: #343C3F !important;
  --color-layer-2: #111517 !important;
}

@media (prefers-color-scheme: light) { 
  :root {
    --color-accent: #A155B5 !important;
    --color-text-primary: #808080 !important;
    --color-text-header: #14181B !important;
    --color-layer-0: #fcf7fe !important;
    --color-layer-1: #eaeaea !important;
    
    --color-color1: #fbf8fc !important;
    --color-color2: #eaeaea !important;
    --color-color3: #808080 !important;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pre-Styling certain Tags ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@layer base {

  * { @apply text-text-primary /* font-oswald */; }

  body { @apply min-h-screen flex flex-col }
  main { @apply flex-1 p-6; }
  header, footer { @apply p-6; }

  h1, h2, h3, h4, h5, h6 { 
    @apply /* font-serif4 */ text-text-header w-fit;

    &.line {
        @apply mx-auto relative after:rounded-full after:block after:h-1 after:bg-accent after:mt-2 after:w-16 after:mx-auto;
    }
  }
  
  /*           font size   font weight     top margin   bottom margin         */
  h1 { @apply  text-5xl    font-bold       mt-12        mb-4                  ;}
  h2 { @apply  text-4xl    font-semibold   mt-8         mb-3                  ;}
  h3 { @apply  text-2xl    font-semibold   mt-4         mb-2                  ;}
  h4 { @apply  text-xl     font-medium     mt-3         mb-2                  ;}
  h5 { @apply  text-lg     font-medium     mt-2         mb-1                  ;}
  h6 { @apply  text-base   font-normal     mt-1         mb-1                  ;}
  p  { @apply  text-base   font-light      mt-2         mb-4 leading-relaxed  ;}

  a { @apply underline cursor-pointer text-accent; }
  ul, ol { @apply pl-6 mb-4 list-disc; }
  li { @apply mb-1; }

  /* ul { @apply list-disc pl-6; }
  ul ul { @apply list-circle pl-6; }
  ul ul ul { @apply list-square pl-6; }
  
  ol { @apply list-decimal pl-6; }
  ol ol { @apply list-[lower-alpha] pl-6; }
  ol ol ol { @apply list-[lower-roman] pl-6; } */
      
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hiding the Scroll Bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
} *::-webkit-scrollbar { 
  display: none !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */